body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
}

.content {
    max-width: 600px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 40px;
}

.title h1 {
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.title h2 {
    color: #006EB6;
    letter-spacing: 2px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

main p {
  text-align: left;
  margin-bottom: 20px; 
}

main p em {
  font-style: italic;
}

.does-list {
  text-align: left;
  padding-left: 20px; 
}

.does-list li {
  margin-bottom: 15px; 
}

.logo {
  width: 150px;
  display: block;
  margin: 30px auto 0; 
}

